body {

}

ul, ol, dl { 
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	padding-right: 15px;
	padding-left: 15px;
	text-align: center;
}
a img { 
	border: none;
}a:link {
	color: #000000;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #000000;
}
a:hover {
	text-decoration: underline;
	color: #006600;
}
a:active {
	text-decoration: none;
	color: #000000;
}
.container {
	width: 960px;
	background-color: #FFF;
	margin: 0 auto; 
	border-style:dotted;
	border-width:medium;
	opacity: 0.7;
}

.content {

	padding: 10px 0;
}


.fltrt {  
	float: right;
	margin-left: 8px;
}
.fltlft { 
	float: left;
	margin-right: 8px;
}
.clearfloat { 
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
